#tutorial {
  width: 100%;
  height: 100vh;
}

/* Without setting height the slides will take up the height of the slide's content */
#tutorial ion-slides {
  height: 100%;
}

#tutorial img {
  max-width: 260px;
  width: 100%;
  margin-bottom: 0rem;
}

#tutorial ion-card {
  padding: 1.5rem 0;
  color: var(--ion-text-color);
}

#tutorial ion-slides {
  overflow-y: scroll;
}

#tutorial ion-card-header,
#tutorial ion-card-content {
  text-align: left;
}

.tutorial-card {
  max-width: 100%;
}

#tutorial ion-card-content > h2 {
  margin-top: 18px;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

#tutorial ion-card-content > p {
  margin-top: 14px;
  margin-bottom: 14px;
}
