.vcs {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.move-button {
    --ion-background-color: #57AD1B;
}


.button-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.one {
    flex: 1 1 auto;
}

.two {
    flex: 1 1 auto;
}

.three {
    flex: 1 1 auto;
}
