
.creator {

div img {
    width: 230px;
    resize: both;
    margin: auto auto auto auto;
    display: block;
}
ion-button {
    --background: #5d8286;

}

.centering {
    text-align: center;
}

p, h1 {
    margin: 20px 30px 40px 30px;
}

}
