#movement-picker {
  height: 100vh;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#movement-picker h4 {
  text-align: center;
  margin-top: 4.5rem;
}

#movement-picker > img {
  max-width: 260px;
  width: 50%;
  min-width: 200px;
  resize: both;
  margin: auto auto auto auto;
  display: block;
  margin-bottom: 3rem;
}

#movement-picker > ion-card {
  margin-bottom: 1.5rem;
}

.centering {
  text-align: center;
}

#slides{
  height: 400px;
  width: 300px;
  margin: 0 auto;
}

#vertical-next,
#vertical-prev {
    left: 50%;
    transform: rotate(90deg);
    transform-origin: left center;
  }

  #vertical-prev {
    top: 10px;
  }

  #vertical-next {
    top: auto;
    bottom: 10px;
  }

  .outer-slide{
    min-height: 50px;
    margin-top: 10px;
    overflow: scroll;overflow-y:scroll;
  }