move.scss

.buttons {
  height: 50px;
  padding-bottom: 5rem;
}

.buttons .next {
  float: right;
  width: 60px;
  height: 30px;
}
.buttons .back {
  float: left;
  width: 60px;
  height: 30px;
}

.StrengthWizard {
  padding: 0 10px 0 10px;
}

.StrengthWizard h3 {
  padding: 10px 0 0 0 !important;
}
img {
  width: 100px !important;
  resize: both;
  border: 0;
  cursor: pointer;
}

.row {
  margin: 0 0 0 0;
}
.minutesQues {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  padding: 0 1.5rem;
}

.timer {
  position: relative;
}

.timer > div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.swiper-slide {
  overflow-y: scroll;    
  display: block;    
}