.block-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.block-header-filter{
  align-self: center;
}
.block-button-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.block-button{
  width: 100%;
}
.container-left{
  float: left;
  min-width: 114px;
  max-width: 200px;
}
.container-right{
  text-align: right;
  width: 75px;
  float: right;
  margin: 0px 0px 0px 20px;
}
#move-selected{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 15px;
  line-height: 15px;
}
#select-text{
  height: 15px;
  line-height: 15px;
}