.team-list {
  margin-top: 40px;
}

.progress-wrapper {
  width: 52px;
  margin-right: 20px;
}

.breakdown-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
}

.breakdown-progress {
  text-align: center;
  width: 40px;
  font-size: 12px;
  margin-left: 4px;
  margin-right: 4px;
}