.centering {
  text-align: center;
}

#promo img {
  width: 90px;
}

#promo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  min-height: 150px;
}

.A {
  animation: animA 1s infinite alternate;
  grid-column: 1;
  grid-row: 1;
}

.B {
  animation: animB 1s infinite alternate;
  grid-column: 1;
  grid-row: 1;
}

@keyframes animA {
  0% {
    opacity: 0;
    z-index: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}

@keyframes animB {
  0% {
    opacity: 1;
    z-index: 1;
  }
  24% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    z-index: 0;
  }
}