.myClass {
    background-color:#393e40; 
    height: 100%;
    width: 100%;
}
div img {
    width: 230px;
    resize: both;
    margin: auto auto auto auto;
    display: block;
}
ion-button {
    --background: #5d8286;
    
}

.centering {
    text-align: center;
}