#moodQuestions ion-button {
  display: block;
  width: 100px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

#moodQuestions img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#moodQuestions h4 {
  margin-left: 1.5rem;
}

#moodQuestions {
  margin-top: 1.5rem;
}
