.tile-title-container {
  width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tile-title {
  font-size: medium;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.tile-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 59px;
  text-align: left;
}

.completed-container {
  align-self: center;
  max-width: 55px;
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
  padding: 5px;
}

.completed-container p {
  font-family: "Nunito-SemiBold", sans-serif;
  color: white;
  margin: 0px;
}

.tile-content {
  width: 250px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.tile-item {
  width: 220px;
  height: 180px;
  padding: 5px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

// .tile-image {
//   height: 80px;
//   width: 70px;
//   align-self: center;
// }

.tile-button-container {
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.tile-description-container {
  width: 140px;
}

.bg-transparent {
  background: #3dc2ff;
  border-radius: 8px;
}

.centering {
  text-align: center;
}

.tile-description {
  padding: 0px;
  // font-size: 10pt;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 120px;
  line-height: 24px;
  text-align: left;
  margin-left: 10px;
}

.card-container {
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 210px;
}

#tile-image {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  margin: 0px;
  height: 80px;
  width: 70px;
  align-self: center;
}

.A {
  animation: animA 1s infinite alternate;
  grid-column: 1;
  grid-row: 1;
}

.B {
  animation: animB 1s infinite alternate;
  grid-column: 1;
  grid-row: 1;
}

.slide-img{
  max-height:80px !important;
  max-width:70px !important; 
}

@keyframes animA {
  0% {
    opacity: 0;
    z-index: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}

@keyframes animB {
  0% {
    opacity: 1;
    z-index: 1;
  }
  24% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    z-index: 0;
  }
}