.tile-title{
  font-size: medium;
}

.tile-header{
  padding: 10px;
}

.tile-item{
  width: 210px;
  height: 180px;
  padding: 5px;
  display: flex;
}

.tile-image{
  height: 160px;
}

.bg-transparent {
  background: #3dc2ff;
  border-radius: 8px;
}

.centering {
  text-align: center;
}
