.addMinutes {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  padding: 0 1.5rem;
}

.addMinutes {
  .time {
    font-size: 3rem;
    padding: 2rem;
  }

  h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  img {
    width: 100px !important;
    resize: both;
    border: 0;
    cursor: pointer;
  }

  .row {
    margin: 0 0 0 0;
  }

  ion-button {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  IonInput.minutes {
    /* TODO: This doesn't work :/ */
    font-size: 2em !important;
  }
}

.MuiPaper-root.MuiAccordion-root.titleDrop.MuiAccordion-rounded.MuiPaper-elevation1.MuiPaper-rounded {
  color: var(--ion-color-primary-contrast);
  background-color: var(--ion-color-primary);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0px var(--ion-color-medium);
}
.MuiAccordionDetails-root.detailsAcc {
  color: var(--ion-text-color);
  background-color: var(--ion-background-color);
  cursor: pointer;
}
