ion-tab-bar {
  border-top: 1px solid;
}

button[ion-fab] {
  overflow: visible;
  position: relative;
  ion-label {
    position: absolute;

    top: -8px;
    right: 40px;

    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
  }
  contain: layout;
}

/* to center loading spinners*/
.center-spin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tab-button-Move {
  background: #56ad1c;
  color: #111;
  font-weight: bold;
}

[has-header]{
  margin-top: 50px;
}

.center-message{
  display: "flex";
  justifyContent: "center";
  alignItems: "center";
  height: "70vh";
  textAlign: "center";
}

.ios-bottom-safe-area {
  padding-bottom: var(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.ion-text-big {
  font-size: 1.2em;
}

.ion-text-header {
  font-size: 1.2em;
  font-weight: bold;
}