:root {
  --box-background-move: #00BFFF;
  --box-background-eat: #00CED1;
  --box-background-sleep: #9470DC;
  --box-background-base: #f6af54;
  --box-background-journal: #ff5655;
}

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

$text-width: 740px;

.app-wrapper {
  position: relative;
  //max-width: 500px;
  //max-height: 896px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.app-wrapper ion-content {
  max-width: 100%;
  overflow-x: hidden;
}

iframe {
  max-width: $text-width;
}

.markdown-content {
  margin-top: $spacing-md;
  margin-bottom: $spacing-xl;
}

.task-modal__text-container {
  padding-top: $spacing-lg !important;
  padding-bottom: $spacing-xl !important;

  *:first-child {
    margin-top: 0;
  }

  .JoyFormControl-root {
    padding: $spacing-sm;
    border: 1px solid var(--joy-palette-neutral-outlinedBorder);
    border-radius: var(--joy-radius-sm);
  }
}

.markdown-content,
.task-modal__text-container {
  * {
    max-width: $text-width;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "D-DIN Condensed", "Arial", sans-serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.01em;
  }

  h1 {
    font-size: 1.476rem;
  }

  h2 {
    font-size: 1.383rem;
  }

  h3 {
    font-size: 1.296rem;
  }

  h4 {
    font-size: 1.215rem;
  }

  h5 {
    font-size: 1.138rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    margin: 1.5rem 0 0 0;
    line-height: 1.4;
    font-size: 1rem;
    letter-spacing: 0.01em;

    * {
      display: inline;
    }
  }

  a {
    text-decoration: underline;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul,
  ol {
    margin: 1.5rem 0;
    padding-left: .9rem;
    list-style-position: outside;
  }

  li {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.4;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

  blockquote {
    margin: 0;
  }

  label {
    line-height: 1.4;
    font-size: .9rem;
    color: var(--joy-palette-text-secondary);
  }
}

.xb-tab-menu {
  &--sub-menu {
    .xb-tab-button {
        ion-label {
          font-size: 11px;
        }

        svg {
          transform: scale(0.9);
        }

      &.tab-selected {
        background: var(--joy-palette-info-100);
        --color-selected: var(--joy-palette-info-700);
      }
    }
  }
}

.xb-tab-button {
  --color: var(--joy-palette-grey-700);
  --color-selected: var(--joy-palette-info-700);
  --ripple-color: rgba(0, 0, 0, 0);
  transition: all 0.1s ease-in-out;

  ion-label {
    font-size: 12px;
  }

  &.tab-selected {
    background: var(--joy-palette-info-700);
    --color-selected: rgba(255, 255, 255, 1);
  }

  &:hover {
    --background: var(--joy-palette-info-50);
  }
}