#heartratePage img {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

#heartratePage > h3, #heartratePage > h4, #heartratePage > p {

}

#heartratePage > h4 {
  margin-top: 2rem;
}

#heartratePage ion-input {
  background: var(--ion-item-background);
  margin-bottom: 1.5rem;
}

#heartratePage .timer {
  position: relative;
  top: -20px;
}

#heartratePage .timer > div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
