.instruction {
	background: var(--ion-toolbar-background, #fff);
	color: var(--ion-toolbar-color);
	display: block;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 60;
	font-family: "Nunito SemiBold";
	text-align: center;
	font-size: 1.1em;
	padding: 5px;
	border-top: 1px solid var(--ion-color-light);
}

ion-content {
	margin-top: 60px;
}

.MovementPicker {
	padding-bottom: 40px;
}

.MovementInfoCard.selected {
	background: var(--ion-color-secondary);
}
.slidesCharts{
	overflow: auto;
}

.movementSlides, .movementSlides > div {
	background: var(--ion-background-color);
}

#movementChoices {
	padding-top: 1.5rem;
	padding-bottom: 3rem;
}

#movementChoices > h3, #movementChoices > h4, #movementChoices > p {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

#movementChoices > h4 {
	margin-top: 2rem;
	margin-bottom: 0rem;
}

#movementChoices > p > span {
	font-family: "Nunito SemiBold";
	color: var(--ion-color-secondary);
}

#movementChoices img {
	width: 90px;
}

.swiper-pagination-bullet {
	background: var(--ion-color-primary);
}
