.instruction {
	background: var(--ion-background-color, #fff);
	display: block;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 60;
	font-weight: bold;
	text-align: center;
	font-size: 1.1.em;
	padding: 10px;
	border-top: 1px solid #ccc;
}

ion-content {
	margin-top: 60px;
}

.MovementPicker {
	padding-bottom: 40px;
}

img {
	width: 90px !important;
}

.MovementInfoCard.selected {
	background: var(--ion-color-secondary);
}
.slidesCharts{
    background-color: #1e1e1e;
	height:300px;
}