.instruction {
	background: var(--ion-toolbar-background, #fff);
	color: var(--ion-toolbar-color);
	display: block;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 60;
	font-family: "Nunito SemiBold";
	text-align: center;
	font-size: 1.1em;
	padding: 5px;
	border-top: 1px solid var(--ion-color-light);
}

ion-content {
	margin-top: 60px;
}

.MovementPicker {
	padding-bottom: 40px;
}

img {
	width: 90px !important;
}

.MovementInfoCard.selected {
	background: var(--ion-color-secondary);
}
.slidesCharts{
    background-color: #1e1e1e;
	height:300px;
}