h3 {
  min-height: 2em;
  padding: 10px 0 0 15px;
}

h3 .navbuttons {
  display: inline-block;
  float: right;
  position: relative;
  top: -5px;
  right: 15px;
}

.journalfeed ion-card p {
  color: var(--ion-text-color);
  font-size: 14px;
}

.journalTasks ion-label,
.journalActions ion-label {
  font-size: 1em;
  /* font-weight: bold; */
}

.journalTasks ion-item .item-inner {
  font-size: 14px;
}
