<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCd268TugxEyTh2bRRkJ4iX7U96yq9gQI</string>
	<key>GCM_SENDER_ID</key>
	<string>978259911444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.ac.soton.ecs.xbapp</string>
	<key>PROJECT_ID</key>
	<string>project-xb-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>project-xb-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978259911444:ios:936847b77b5596843d9801</string>
</dict>
</plist>