.MuiPaper-root.MuiAccordion-root.VideoAccordion {
    color: var(--ion-color-primary-contrast);
    background-color: var(--ion-color-primary);
    cursor: pointer;
    border-radius: 0px;
    box-shadow: none;
}
.MuiAccordionDetails-root.VideoAccordionDetails {
    color: var(--ion-text-color);
    background-color: var(--ion-item-background);
    cursor: pointer;
}