<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9K6PV-zjI-kCaJwtY7v7ktCu_nesxkE4</string>
	<key>GCM_SENDER_ID</key>
	<string>601422797354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uos.xb</string>
	<key>PROJECT_ID</key>
	<string>xb-app-36cb2</string>
	<key>STORAGE_BUCKET</key>
	<string>xb-app-36cb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601422797354:ios:049d4f9629aa98ebca0153</string>
</dict>
</plist>